{% extends 'layout.html' %}
{% block title %}About{% endblock title %}
{% load static %}
{% block links %}
<meta property="og:title" content="{{config.website_name}}" />
<meta property="og:url" content="{{config.full_address}}" />
<meta property="og:image" content="{{config.full_address}}{{config.image}}" />
<meta property="og:type" content="article" />
<meta property="og:description" content="{{config.short_description|safe}}" />
<meta property="og:locale" content="en_US" />
{% endblock links %}
{% block body %}


<div class="main_contact d-flex">
    <div class="card card2__">
        {{config.about_page|safe}}
    </div>
</div>

{% endblock body %}