
<div class="wrapper row2">
    <footer id="footer" class="hoc clear">
        <div class="">
            <h1 class="logoname"><span>{{config.short_name}}</span>{{config.main_domain}}</h1>
            <p class="btmspace-30">{{config.short_description|safe}}</p>
            <ul class="faico clear">
                <li><a class="faicon-dribble" href="{{config.google}}" target="_blank"><i class="fab fa-google"></i></a></li>
                <li><a class="faicon-facebook" href="{{config.facebook}}" target="_blank"><i class="fab fa-facebook"></i></a></li>
                <li><a class="faicon-google-plus" href="{{config.instagram}}" target="_blank"><i class="fab fa-instagram"></i></a></li>
                <li><a class="faicon-linkedin" href="{{config.linkedin}}" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                <li><a class="faicon-twitter" href="{{config.twitter}}" target="_blank"><i class="fab fa-twitter"></i></a></li>
                <li><a class="faicon-vk" href="{{config.github}}" target="_blank"><i class="fab fa-github"></i></a></li>
            </ul>
        </div>
<!-- 
        <div class="one_third">
            <h6 class="heading">Massa hendrerit bibendum</h6>
            <ul class="nospace linklist">
                <li><a href="#">Tincidunt vel vulputate egestas</a></li>
                <li><a href="#">Leo sed porttitor accumsan arcu</a></li>
                <li><a href="#">Aenean ac urna et leo posuere</a></li>
                <li><a href="#">Pretium suspendisse ac elit ut</a></li>
            </ul>
        </div> -->

        <!-- <div class="one_third">
            <h6 class="heading">Subscribe to our newsletter</h6> -->
            <!-- <p class="nospace btmspace-15">Leo integer sem nisl mollis ut ornare eu lobortis eget ante mauris
                tempor.</p> -->
            <!-- <form method="post" action="#">
                <fieldset>
                    <input class="btmspace-15" type="text" value="" placeholder="Name" required>
                    <input class="btmspace-15" type="text" value="" placeholder="Email" required>
                    <button type="submit" value="submit">Submit</button>
                </fieldset>
            </form>
        </div> -->

    </footer>
</div>